[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Potter maintainers
[access "refs/heads/*"]
	create = group Potter maintainers
	push = +force group Potter maintainers
	pushMerge = group Potter maintainers
	label-Code-Review = -2..+2 group Potter maintainers
	label-Verified = -1..+1 group Potter maintainers
	submit = group Potter maintainers
